node_modules
facial/model
facial/.idea
facial/le.pickle
facial/recognizer.pickle
facial/database/user
facial/database/unknown
facial/screenshots/*
facial/conflict/noface/*
facial/conflict/multiface/*
facial/logs/
__pycache__
*.db